<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        <table border="2" align="center">
            <tr>
                <td>
                    Login:
                    <input type="text" id="username">

                </td>
                </tr>
                <tr>
                    <td>
                        pass:
                        <input type="password" id="userpass">
                        
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="button" value="login" onclick="Onlogin(event)">
                    </td>
                    
                </tr>
            
            
        </table>
    </form>

</body>
<script src="login.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</html>
</html>